<div class="editingTools">
  <ul class="controlList">
    <!--        <li class="control">-->
    <!--          <button type="button" title="open" (click)="_onOpen()">-->
    <!--&lt;!&ndash;            <i class="open" ></i>&ndash;&gt;-->
    <!--            <span nz-icon nzType="folder-open" nzTheme="outline"></span>-->
    <!--          </button>-->
    <!--        </li>-->
    <li class="control">
      <button type="button" title="import" (click)="_onImport()">
        <!--          <i class="import" ></i>-->
        <!--          <span nz-icon nzType="import" nzTheme="outline"></span>-->
        <span nz-icon nzType="folder-open" nzTheme="outline"></span>
      </button>
    </li>

    <li class="control line">
      <button type="button" title="new" (click)="_onNew()">
        <!--            <i class="new" ></i>-->
        <span nz-icon nzType="file-add" nzTheme="outline"></span>
      </button>
    </li>

    <!--<li class="control line">
      <button type="button" title="duplicate" (click)="_onDuplicate()">
        <span nz-icon nzType="copy" nzTheme="outline"></span>
      </button>
    </li>-->

    <li class="control">
      <button type="button" title="undo" (click)="_onUndo()">
        <span nz-icon nzType="undo" nzTheme="outline"></span>
      </button>
    </li>
    <li class="control line">
      <button type="button" title="redo" (click)="_onRedo()">
        <span nz-icon nzType="redo" nzTheme="outline"></span>
      </button>
    </li>

    <li class="control">
      <button type="button" title="zoom in" (click)="_onZoomIn()">
        <span nz-icon nzType="zoom-in" nzTheme="outline"></span>
      </button>
    </li>
    <li class="control line">
      <button type="button" title="zoom out" (click)="_onZoomOut()">
        <span nz-icon nzType="zoom-out" nzTheme="outline"></span>
      </button>
    </li>

    <li class="control">
      <button type="button" title="save" (click)="_onSave()">
        <span nz-icon nzType="save" nzTheme="outline"></span>
      </button>
    </li>

    <!-- <li class="control line">
      <button type="button" title="download as svg image" (click)="_onDownloadSvg()">
        <span nz-icon nzType="file-image" nzTheme="outline"></span>
      </button>
    </li> -->

    <li class="control line">
      <button type="button" title="download as PDF" (click)="_onDownloadPdf()">
        <span nz-icon nzType="file-pdf" nzTheme="outline"></span>
      </button>
    </li>

    <!-- <li class="control">
      <button type="button" title="share" (click)="_onPublish()" disabled>
        <span nz-icon nzType="share-alt" nzTheme="outline"></span>
      </button>
    </li> -->
  </ul>
</div>
