.properties-panel {
  position: relative;
  width: 350px;
  border: 1px solid #ddd;
  //border-top: 1px solid #ddd;
  right: 0;
  transition: width 0.3s ease; /* Smooth animation for width change */
}

.drag-handle {
  position: absolute;
  left: -15px;
  top: 50%;
  z-index: 100;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.drawer-button {
  background: white;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  fill: currentColor !important; /* Ensure icon inherits color */
}

.drawer-button:hover {
  border-color: #1890ff;
}

.centered-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-edit-tools {
  width: 400px; /* Set a fixed width for the app-edit-tools component */
}

.breadcrumb-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex: 1; /* Allow the breadcrumb-container to take the remaining space */
}

.breadcrumb-wrapper {
  flex: 1;
  display: flex;
  justify-content: start;
}

.breadcrumb-wrapper a {
  text-decoration-color: #333;
  text-decoration: underline;
}

.breadcrumb-wrapper a hover{
  text-decoration-color: #1890ff;
  text-decoration: none;
}

.file-path {
  font-size: 14px;
  color: #333;
  margin: 0 10px 10px 0;
  white-space: nowrap;
}

.djs-popup.color-picker .entry {
  margin: 0;
}