<div style="display: flex; align-items: center; justify-content: space-between;">
  <app-edit-tools
    class="app-edit-tools"
    (onImport)="handleImport()"
    (onDuplicate)="handleDuplicate()"
    (onNew)="handleNew()"
    (onDownloadSvg)="handleExportAs()"
    (onRedo)="handleRedo()"
    (onSave)="handleSave()"
    (onUndo)="handleUndo()"
    (onZoomIn)="handleZoom(0.1)"
    (onZoomOut)="handleZoom(-0.1)"
    (onZoomReset)="handleZoom(1)"
    (onPublish)="handlePublish()">
  </app-edit-tools>
  <div class="breadcrumb-container">
<!--    <div class="breadcrumb-wrapper">-->
<!--      <nz-breadcrumb>-->
<!--        <nz-breadcrumb-item *ngFor="let crumb of breadcrumbs">-->
<!--          <a>{{ crumb }}</a>-->
<!--        </nz-breadcrumb-item>-->
<!--      </nz-breadcrumb>-->
<!--    </div>-->
    <!-- <div class="file-path" *ngIf="filePath!=null">
      <span [ngStyle]="{ 'font-weight': isFileChanged ? 'bold' : 'normal' }">
        {{ getFileName() }}
      </span>
      <span style="color: red; font-weight: bold" *ngIf="isFileChanged">*</span>
    </div> -->
  </div>
</div>

<div style="display: flex; height: 85vh;">
  <div id="el" style="flex: 4; height: 100%; border: 0px">
  </div>
  <div id="js-properties-panel" class="properties-panel">
    <div class="drag-handle">
      <button class="drawer-button" nz-button *ngIf="!isExpanded" (click)="togglePanel()">
        <span nz-icon nzType="right-circle" nzTheme="fill"></span>
      </button>
      <button class="drawer-button" nz-button *ngIf="isExpanded" (click)="togglePanel()">
        <span nz-icon nzType="left-circle" nzTheme="fill"></span>
      </button>
    </div>
  </div>
  <nz-spin nzTip="Publishing..." [nzSpinning]="isPublishing" [nzSize]="'large'" class="centered-spinner"></nz-spin>
</div>
