<div style="display: flex; align-items: center; justify-content: space-between;">
  <app-edit-tools
    class="app-edit-tools"
    (onImport)="handleImport()"
    (onDuplicate)="handleDuplicate()"
    (onNew)="handleNew()"
    (onDownloadSvg)="handleExportAs()"
    (onDownloadPdf)="handleDownloadPdf()"
    (onRedo)="handleRedo()"
    (onSave)="handleSave()"
    (onUndo)="handleUndo()"
    (onZoomIn)="handleZoom(0.1)"
    (onZoomOut)="handleZoom(-0.1)"
    (onZoomReset)="handleZoom(1)"
    (onPublish)="handlePublish()">
  </app-edit-tools>
  <div class="breadcrumb-container">
  </div>
</div>

<div style="display: flex; height: 85vh;">
  <div id="el" style="flex: 4; height: 100%; border: 0px">
  </div>
  <div id="js-properties-panel" class="properties-panel">
    <div class="drag-handle">
      <button class="drawer-button" nz-button *ngIf="!isExpanded" (click)="togglePanel()">
        <span>&gt;</span>
      </button>
      <button class="drawer-button" nz-button *ngIf="isExpanded" (click)="togglePanel()">
        <span>&lt;</span>
      </button>
    </div>
  </div>
</div>
